.page-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.intro{
    width: 80vw;
    max-width: 390px;
    height: calc(80vw);
    max-height: 390px;
    border-radius: 50%;
    text-align: center;  
    overflow-wrap: break-word;
    border: 1px solid black;
    padding: 1.5em;
    order: 1;
    
    margin: 0 auto;
    @include font-size(0.9);

    @include MQ(S){
        @include font-size(1);
    }
    
    header, .summary {
       position: relative;
       top: 30%;
       transform: translateY(-50%);
    }
    .preamble{
        position: absolute;
        text-align: left; 
        top: 100%;
        right: 0;
        padding: 1.5em;
    }
}

.main{
    padding: 1.5em;
    order: 3;
}
.sidebar{
    padding: 1.5em;
    order: 2;
}

