.main{
    padding: 1.5em;
    order: 3;
    height: 100%;
    margin-top: 3em;

    @include font-size(0.75);

    h3{
        border: 1px solid black;
        padding: 1em;
        display: inline;
    }
    p{
        &:first-of-type{
            margin-top: 3em;
        }

        &:last-of-type{
            margin-bottom: 3em;
        }
    }
    

    @include MQ(S){
        @include font-size(1.15);
    }
}