.page-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-row: 100vh 100vh 100vh 100vh;
    position: relative;


    @include MQ(M){
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: minmax(800px, 100vh) minmax(800px, 100vh) minmax(800px, 100vh);
    }


    @include MQ(M){
       
    }

    &::before{
        grid-column: 1 / span 4;
        grid-row: 1;
        content: "";
        display: block;
        background-image: url('assets/img/intro_bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;

    }

}