.sidebar{
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    justify-self: center;
    margin-top: 1em;
    border-radius: 5%;
    padding: 2em;
    background-color: #CEF09D;
    position: absolute;
    margin: 110%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    @include font-size(0.75);
    display: none;

    @include MQ(S){
        grid-column: 3/ span 2;
        grid-row: 1;
        width: 50%;
        @include font-size(0.9);
        margin-top: calc((100vh / 2));
        display: block;
    }
    a{
        color: #000;
    }

    

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }


}