$color-1: #476C5E; // Cornflower Blue - Action color
$color-2: #083643;// Dark Blue
$color-3: #B8ECD7;// Red
$color-4: #B1E001; // light grey
$color-5: #ffffff; // white
$color-6: #CEF09D; // Green

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red